@{
    ViewData["Title"] = "Error page";
}

<h1 style="text-align:center" class="text-danger">Ooops!</h1>
<h1 style="text-align:center" class="text-danger">Error : @ViewBag.Status @ViewBag.Message occured!</h1>